@mixin flex($ai:center,$jc:center) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}

@mixin content($linkbg){
    .content{
        @include flex();
        flex-direction: column;
        .content-text-container{
            @include flex();
            text-align: center;
            padding: 3rem 2.5rem;
            .content-text {
                .title{
                    font-family: $font-fraunces;
                    margin-bottom: 1.5rem;
                    font-weight: $weight-h;
                    font-size: 1.8rem;
                }
                .text {
                    @include text($gray-blue);
                }
                .link{
                    display: inline-block;
                    color: $dark-dblue;
                    font-weight: $weight-h;
                    font-size: $font-n;
                    text-decoration: none;
                    position: relative;
                    background: transparent;
                    &::after{
                        content: "";
                        position: absolute;
                        background-color: $linkbg;
                        height: .5rem;
                        width: 110%;
                        left: -5%;
                        z-index: -1;
                        top: 60%;
                        border-radius: 5px;
                        opacity: .5;
                    }
                }
            }
        }
    }
}

@mixin bgContentText($textClr) {
    .content-text{
        text-align: center;
        padding: 1.5rem 1.2rem;
        color: $textClr;
        .title{
            font-family: $font-fraunces;
            margin-bottom: 2rem;
            font-weight: $weight-h;
            font-size: $font-xn;
        }
        .text{
            font-family: $font-barlow;
            font-size: $font-s;
            font-weight: $weight-l;
            margin-bottom: 2rem;
            line-height: 1.5;
        }
    }
}

@mixin text($color) {
    font-family: $font-barlow;
    color: $color;
    margin-bottom: 1.5rem;
    font-weight: $weight-xl;
    font-size: $font-s;
    line-height: 1.5;
}

@mixin socialLink {
    width: 100%;
    height: 20px;
    display: inline-block;
}