// primary color
$primary: hsl(7, 99%, 70%);
$primary-y : hsl(51, 100%, 49%);
$graphic-text : hsl(167, 40%, 24%);
$photo-text : hsl(198, 62%, 26%);
$footer-bg : hsl(167, 44%, 70%);
$footer-logo : hsl(168, 45%, 31%);
$footer-text : hsl(167, 32%, 43%);
$footer-icon : hsl(167, 36%, 39%);
$menu-clr : hsl(51, 99%, 49%);
$text-bg : hsl(26, 100%, 99%);

// netural color
$dark-dblue: hsl(212, 27%, 19%);
$dark-gblue: hsl(213, 9%, 39%);
$dark-gblue-n: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);
$c-white: hsl(0, 0%, 100%);

// typography
$font-xl : 40px;
$font-l: 35px;
$font-xn : 28px;
$font-n: 18px; 
$font-s: 16px;
$font-xs: 14px;
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

// font
$weight-xl: 500;
$weight-l: 600;
$weight-n: 700;
$weight-h: 900;

// custom margin
$ct-mb: 1.5rem;