@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./variables";
@import "./mixin";

*,*::before,*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container {
    .header{
        @include flex(center,space-between);
        position: absolute;
        top: 0;
        width: 100%;
        padding: 2rem;
        z-index: 5;
        align-items: center;
        .nav{
            .nav-links{
                @include flex(center,center);
                display: none;
                flex-direction: column;
                position: absolute;
                list-style: none;
                top: 120%;
                left: 2rem;
                right: 2rem;
                background-color: $c-white;
                padding: 2rem;
                li{
                    height: 10vh;
                    width: 100%;
                    text-align: center;
                    line-height: 53px;
                    .nav-link{
                        display: inline;
                        text-decoration: none;
                        @include text($dark-gblue);
                        margin: 0;
                        width: fit-content;
                        width: 50%;
                        padding: .5rem 1rem;
                        transition: .3s cubic-bezier(0.75, 0.24, 0.55, 1.56);
                        border-radius: 20px;
                        &:hover {
                            color: $menu-clr;
                        }
                        &.active{
                            font-size: $font-n;
                            font-family: $font-fraunces;
                            background-color: $menu-clr;
                            font-weight: $weight-h;
                            color: $dark-gblue;
                        }
                    }
                }
                &::after{
                    content: "";
                    border-top: 15px solid transparent;
                    border-right: 15px solid $c-white;
                    border-bottom: 15px solid $c-white;
                    border-left: 15px solid transparent;
                    top: -29px;
                    right: 0;
                    position: absolute;
                }
                &.show{
                    display: flex;
                }
            }

        }
    }
    .home {
        height: 100vh;
        width: auto;
        background: url('../images/mobile/image-header.jpg') no-repeat center/cover;
        padding: 1rem;
        color: $c-white;
        text-transform: uppercase;
        font-family: $font-fraunces;
        @include flex();
        .content {
            .title{
                text-align: center;
                font-size: $font-l;
                font-weight: $weight-h;
                letter-spacing: 5px;
                margin-bottom: 2rem;
            }
            .arrow-down-container{
                text-align: center;
            }
        }
    }
    .about-us{
        @include content($primary-y);
    }
    .services{
        @include content($primary);
    }
    .s-container{
        @include flex(center,center);
        flex-direction: column;
        .s-graphic{
            .bg-content{
                .background{
                    position: relative;
                    overflow: hidden;
                    .mobile-content-img{
                        display: block;
                    }
                    .desktop-content-img{
                        display: none;
                    }
                    @include bgContentText($graphic-text);
                }
            }
        }
        .s-photograph{
            .bg-content{
                .background{
                    overflow: hidden;
                    position: relative;
                    .mobile-content-img{
                        display: block;
                    }
                    .desktop-content-img{
                        display: none;
                    }
                    @include bgContentText($photo-text);
                }
            }
        }
    }
    .testimonial{
        background-color: $c-white;
        .container{
            padding: 4rem 2rem;
            .title {
                text-align: center;
                margin-bottom: 4rem;
                font-family: $font-fraunces;
                text-transform: uppercase;
                font-weight: $weight-h;
                color: $gray-blue;
                letter-spacing: 2.5px;
                font-size: $font-s;
            }
            .component-container{
                @include flex();
                flex-direction: column;
                .client-component{
                    margin-bottom: 4rem;
                    .client-photo-container{
                        text-align: center;
                        margin-bottom: $ct-mb;
                        .client-photo{
                            border-radius: 100%;
                            width: auto;
                            height: 100px;
                        }
                    }
                    .client-feedback{
                        text-align: center;
                        .text{
                            @include text($dark-gblue);
                        }
                        .name{
                            font-family: $font-fraunces;
                            font-weight: $weight-h;
                            font-size: $font-n;
                            margin-bottom: .5rem;
                        }
                        .job{
                            font-family: $font-barlow;
                            font-weight: $weight-xl;
                            font-size: $font-xs;
                            color: $gray-blue;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
    .projects{
        height: 100%;
        .projects-container{
            display: flex;
            flex-wrap: wrap;
            .project{
                flex: 50%;
                .mobile-project-img{
                    display: block;
                }
                .desktop-project-img{
                    display: none;
                }
            }
        }
    }
    .footer{
        background-color: $footer-bg;
        .container{
            padding: 3rem 1rem 4rem 1rem;
            .logo-container{
                text-align: center;
                margin-bottom: 2rem;
            }
            .links-container{
                margin-bottom: 4rem;
                .links{
                    list-style: none;
                    @include flex(center,space-evenly);
                    li{
                        .link{
                            text-decoration: none;
                            color: $footer-text;
                            font-family: $font-barlow;
                            font-weight: $weight-l;
                            transition: .3s;
                            &:hover{
                                color: $c-white;
                            }
                        }
                    }
                }
            }
            .social-container{
                .social-links{
                    margin: 0 auto;
                    width: 50%;
                    list-style: none;
                    @include flex(center,space-between);
                    li{
                        width: 100%;
                        .social-link{
                            .icon-color{
                                background-color: $footer-icon;
                                transition: .3s;
                                &:hover {
                                    background-color: $c-white;
                                }
                            }
                            .facebook-social-icon{
                                mask: url('../images/icon-facebook.svg') no-repeat center;
                                @include socialLink();
                            }
                            .instagram-social-icon{
                                mask: url('../images/icon-instagram.svg') no-repeat center;
                                @include socialLink();
                            }
                            .twitter-social-icon{
                                mask: url('../images/icon-twitter.svg') no-repeat center;
                                @include socialLink();
                            }
                            .pinterest-social-icon{
                                mask: url('../images/icon-pinterest.svg') no-repeat center;
                                @include socialLink();
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "res1440";