@use '../util' as *;

.nav{
    .hamburger-container{
        cursor: pointer;
        @include breakpoint-up(medium) {
            display: none;
            cursor: none;
        }
    }
    .nav-links{
        @include flex(center,center);
        display: none;
        flex-direction: column;
        position: absolute;
        list-style: none;
        top: 120%;
        left: 2rem;
        right: 2rem;
        background-color: $c-white;
        padding: 2rem;

        @include breakpoint-up(medium) {
            display: flex;
            flex-direction: row;
            position: initial;
            background-color: transparent;
            padding: 0;
        }

        &::after{
            content: "";
            border-top: 15px solid transparent;
            border-right: 15px solid $c-white;
            border-bottom: 15px solid $c-white;
            border-left: 15px solid transparent;
            top: -29px;
            right: 0;
            position: absolute;
            
            @include breakpoint-up(medium) {
                content: none;
            }
        }
        
        li{
            height: 10vh;
            width: 100%;
            text-align: center;
            line-height: 53px;

            @include breakpoint-up(medium) {
                width: 100%;
                display: inline-block;
                line-height: 70.5px;
            }
            .nav-link{
                display: inline;
                text-decoration: none;
                @include text($dark-gblue);
                margin: 0;
                width: fit-content;
                width: 50%;
                padding: .5rem 1rem;
                transition: .3s cubic-bezier(0.75, 0.24, 0.55, 1.56);
                border-radius: 20px;

                @include breakpoint-up(medium) {
                    color: $c-white;
                    margin: 0 auto;
                    width: 8vw;
                    cursor: pointer;
                }
                &:hover {
                    color: $menu-clr;
                }
                &.active{
                    font-size: $font-n;
                    font-family: $font-fraunces;
                    background-color: $menu-clr;
                    font-weight: $weight-h;
                    color: $dark-gblue;

                    @include breakpoint-up(medium) {
                        background-color: $c-white;
                        color: $dark-dblue;
                    }
                }
            }
        }
        &.show{
            display: flex;
        }
    }

}